@media screen and (max-width: 1000px) {
  #BackgroundPicture {
    background: url(../src/BackgroundPicture/Background\ picture\ 0.75x.png)
      right bottom no-repeat;
  }

  #qoute {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  #common {
    flex-direction: column;
  }

  #chat {
    width: 80vw;
    align-self: center;
    flex: none;
  }

  #aboutUs {
    flex-direction: column;
  }

  #information {
    margin-right: 0px;
    justify-content: space-between;
  }

  #information div {
    margin-bottom: 10px;
  }

  #H1 {
    max-width: 100%;
  }
}
